@model Request

<h3>@Model.RequestID Information</h3>

<table class="table">
    <tr>
        <th>Request ID</th>
        <th>Request description</th>
        <th>Request status</th>
  
    </tr>
    <tr>
        <td>@Model.RequestID</td>
        <td>@Model.RequestDESC</td>
        <td>@Model.RequestStatus</td>
    </tr>
</table>