@model IEnumerable<Request>
@{
    ViewData["Title"] = "Home Page";
}


@*@using (Html.BeginForm("Form2", "Home", FormMethod.Post))

    ViewData["Title"] = "Home Page";
*@



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <img style="width: 900px; border-radius: 50% 20% / 10% 40%;" src="https://images.unsplash.com/photo-1508885368104-a4871600f1e0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" class="img-fluid" alt="...">
    </div>



    
   
</div>

